/* Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300;400;500;600;700&display=swap");

/* Global CSS Styles*/

:root {
  /* Fonts */
  --primary-font: "Poppins", sans-serif;

  /* colour palette */

  --primary-bg-colour: #f6eddc;
  --secondary-bg-colour: #13817b;

  --primary-font-colour: #ffffff;
  --secondary-font-colour: #dca32c;

  --btn-hover-colour: #dca32c;
  --btn-colour: #e87d1e;
  --nav-footer-colour: #110b06;
}

body {
  font-family: var(--primary-font);
  padding-top: 56px;
}

.custom-navbar {
  background-color: var(--nav-footer-colour);
}

.custom-navbar a {
  color: var(--primary-font-colour);
}

.custom-navbar a:hover {
  color: var(--secondary-font-colour);
}

.custom-navbar .nav-link.active {
  color: var(--btn-hover-colour) !important;
}

#navbar-logo {
  display: none;
}

.navbar img {
  cursor: pointer;
}

.book-btn {
  background-color: #7fe7d6;
  color: var(--nav-footer-colour) !important;
  border: none;
}

.book-btn:hover {
  background-color: var(--btn-hover-colour);
  color: white;
}

#homepage-hero {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero-image-mobile.webp");

  background-repeat: no-repeat;
  background-position: 63% center;
  background-size: 220%;
}

#homepage-hero .hero-content {
  padding-top: 60px;
  text-align: center;
}

#homepage-hero .hero-script {
  font-family: "Allura", cursive;
  font-size: 4rem;
  color: #7fe7d6;
  margin-bottom: -10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#homepage-hero .hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#homepage-hero .hero-text {
  font-size: 1.3rem;
  color: white;
  line-height: 1.5;
  display: flex;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#homepage-hero .book-btn {
  background-color: #7fe7d6;
  font-weight: 450;
  margin-top: 15px;
  border-color: #7fe7d6;
}

#homepage-hero .book-btn:hover {
  background-color: #dca32c;
}

.about-tiki-craft {
  background-color: var(--primary-bg-colour);
}

.section-title {
  font-size: 1.3rem;
  color: var(--secondary-bg-colour);
}

.section-text {
  color: var(--nav-footer-colour);
  font-size: 1.05rem;
  line-height: 1.8;
  max-width: 820px;
  margin: 0 auto;
  line-height: 1.8;
  font-weight: 400;
}

.section-info {
  color: var(--nav-footer-colour);
  letter-spacing: 1px;
  font-weight: 500;
}

#icon {
  width: 100px;
  height: auto;
}

.offer-icon {
  width: 80px;
  height: auto;
}

/* Changes the font weight and header size in the what we offer section */
.offer-grid p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.05rem;
  color: var(--nav-footer-colour);
}

.offer-grid h3 {
  font-size: 1.3rem;
  color: var(--nav-footer-colour);
}

.card {
  border-radius: 18px;
  border: none;
  overflow: hidden;
  box-shadow: 0 12px 28px rgba(19, 129, 123, 0.25) !important;
}

.card-img-top {
  height: 240px;
  object-fit: cover;
}

.btn-outline-info {
  border-color: var(--secondary-bg-colour);
  color: var(--secondary-bg-colour);
}

.btn-outline-info:hover {
  border-color: var(--btn-hover-colour);
  background-color: var(--btn-hover-colour);
  color: white;
}

/* Gallery Section */

.gallery-section {
  background-color: var(--secondary-bg-colour);
}

.section-info-inv {
  color: var(--primary-bg-colour);
  letter-spacing: 1px;
  font-weight: 500;
}

.section-title-inv {
  font-size: 1.3rem;
  color: var(--btn-hover-colour);
}

.section-text-inv {
  color: var(--primary-bg-colour);
  font-size: 1.05rem;
  line-height: 1.8;
  max-width: 820px;
  margin: 0 auto;
  line-height: 1.8;
  font-weight: 400;
}

.scroll-container {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.scroll-container img {
  height: 380px;
  width: auto;
  border-radius: 22px;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.scroll-container img:hover {
  transform: translateY(-6px);
}

.btn-outline-success {
  color: var(--primary-bg-colour);
  border-color: var(--primary-bg-colour);
}

/* Final call to action section */
#homepage-final-cta {
  padding: 1rem 1rem;
}

#homepage-final-cta .cta-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/final-cta-2.webp);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-position: 60% 40%;
}

#homepage-final-cta .cta-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#homepage-final-cta .cta-text {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#homepage-final-cta .book-btn {
  background-color: #7fe7d6;
  font-weight: 450;
  margin-top: 15px;
  border-color: #7fe7d6;
}

#homepage-final-cta .book-btn:hover {
  background-color: #dca32c;
}
/* Voyage Page CSS*/
/* Hero Image*/
#voyage-hero {
  min-height: 55vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/voyage-hero.webp");
  background-repeat: no-repeat;
  background-position: 30% 70%;
  background-size: cover;
}

#voyage-hero .hero-content {
  padding-top: 60px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#voyage-hero .hero-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #ebca82;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#voyage-hero .hero-text {
  color: white;
  font-size: 1.3rem;
}

/* What to expect section */

/* Journey timeline*/

.timeline-step i {
  color: var(--secondary-bg-colour);
  font-size: 1.3rem;
}

.journey-timeline .timeline-step {
  margin-bottom: 2rem;
}

/* Voyage Destinations section */
#destination-overview {
  background-color: var(--primary-bg-colour);
}

.destination-image {
  width: 90vh;
  height: 90vh;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 10px 30px rgba(19, 129, 123, 0.3);
}

/* Perfect for section */

#perfect-for {
  background-color: var(--secondary-bg-colour);
}

/* perfect for cards */
#perfect-for .card {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.occasion-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--secondary-bg-colour);
  box-shadow: 0 10px 30px rgba(19, 129, 123, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5rem;
}

.occasion-icon {
  font-size: 1.8rem;
  color: white;
}

#perfect-for h5 {
  color: var(--nav-footer-colour);
}

#perfect-for .card-text {
  color: var(--nav-footer-colour);
}

/* Final call to action section */
#voyage-final-cta {
  padding: 1rem 1rem;
}

#voyage-final-cta .cta-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/final-cta.webp);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-position: 60% 40%;
}

#voyage-final-cta .cta-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#voyage-final-cta .cta-text {
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#voyage-final-cta .book-btn {
  background-color: #7fe7d6;
  font-weight: 450;
  margin-top: 15px;
  border-color: #7fe7d6;
}

#voyage-final-cta .book-btn:hover {
  background-color: #dca32c;
}

/* Gallery Page */

#gallery-final-cta {
  padding: 1rem 1rem;
}

#gallery-final-cta .cta-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/final-cta-2.webp);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-position: 60% 40%;
}

#gallery-final-cta .cta-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#gallery-final-cta .cta-text {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

#gallery-final-cta .book-btn {
  background-color: #7fe7d6;
  font-weight: 450;
  margin-top: 15px;
  border-color: #7fe7d6;
}

#gallery-final-cta .book-btn:hover {
  background-color: #dca32c;
}



/* Gallery hero section */
#gallery-hero {
  position: relative;
  height: 320px;

  background:
    linear-gradient(#0000004d, rgba(0, 0, 0, 0.3)),
    url("../images/palm-water.webp");

  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: cover;
}

.hero-content {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

#gallery-hero .hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  padding-right: 1rem;
}

#gallery-hero .hero-text {
  font-size: 1rem;
  color: white;
  line-height: 1.3;
  margin-bottom: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  padding-right: 1rem;
  justify-content: center;
}

/* gallery content section*/
#about-gallery {
  background-color: var(--secondary-bg-colour);
}

/* Gallery grid section */
#gallery-grid {
  background-color: var(--primary-bg-colour);
}

.gallery-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* Media Queries */

/* media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
  #homepage-hero {
    min-height: 80vh;

    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../images/hero-img.webp");

    background-repeat: no-repeat;
    background-position: 80% center;
    background-size: 220%;
  }

  .hero-text {
    font-size: 1.3rem;
    color: white;
    line-height: 1.5;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }

  .about-title {
    font-size: 1.8rem; /*Changes the font size of the title for tablets*/
  }

  .journey-timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
  }

  /* Connector line */
  .journey-timeline::before {
    content: "";
    position: absolute;

    top: 15px;
    left: 10%;
    right: 10%;

    height: 2px;

    background-color: var(--secondary-bg-colour);

    opacity: 0.5;

    z-index: 1;
  }

  .timeline-step {
    position: relative;
    z-index: 2;

    background-color: white;

    padding: 0 1rem;

    text-align: center;
  }

  /* Changes icon size for tablets */
  .occasion-icon {
    font-size: 2rem;
  }

  .card-body {
    padding: 1rem;
  }

  #homepage-final-cta {
    padding: 3rem;
  }

  /* makes final call to action image on homepage bigger on medium screens */
  #homepage-final-cta .cta-banner {
    min-height: 325px;
    background-position: 60% 40%;
  }

  #voyage-final-cta {
    padding: 3rem;
  }

  /* makes final call to action image on voyage page bigger on medium screens */
  #voyage-final-cta .cta-banner {
    min-height: 325px;
    background-position: 60% 40%;
  }

  /* gallery-content section for md screens */

  #gallery-hero {
    height: 420px;
    background-position: 60% 50%;
  }

  /* changes the size of the text on the gallery hero image for tablets */

  .hero-content {
    position: absolute;
    padding-top: 3rem;
    padding-right: 3rem;
  }
  #gallery-hero .hero-title {
    font-size: 2.5rem;
  }

  #gallery-hero .hero-text {
    font-size: 1.3rem;
  }
}

/* large devices (laptops and desk tops 992px and up*/

@media screen and (min-width: 992px) {
  .custom-navbar {
    height: 65px;
  }

  #navbar-logo {
    display: block;
    width: 90px;
    height: 80px;
  }

  #homepage-hero {
    min-height: 70vh;

    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../images/hero-img.webp");

    background-repeat: no-repeat;
    background-position: center center;
  }

  #homepage-hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #homepage-hero .hero-content {
    padding-left: 60px;
    padding-bottom: 100px;
  }

  .journey-timeline {
    display: flex;
    gap: 5rem;
  }

  .journey-timeline i {
    font-size: 1.6rem;
  }

  .journey-timeline p {
    font-size: 1rem;
  }

  .journey-timeline::before {
    left: 20%;
    right: 20%;
  }

  /* changes icon size for desktop*/
  .occasion-icon {
    font-size: 2.2rem;
  }

  #homepage-final-cta {
    padding: 2rem 2rem;
  }
  #homepage-final-cta .cta-banner {
    min-height: 300px;
  }

  /* changes the size of the image and padding on the voyage finall cta */
  #voyage-final-cta {
    padding: 2rem 2rem;
  }
  #voyage-final-cta .cta-banner {
    min-height: 300px;
  }

  /* Styling for hero image on gallery page*/

  #gallery-hero {
    height: 520px;
    background-position: 80% 40%;
  }

  .hero-content {
    position: absolute;
    top: 4.5rem;
    right: 3rem;
  }

  #gallery-hero .hero-title {
    font-size: 3rem;
  }

  #gallery-hero .hero-text {
    font-size: 1.4rem;
  }
  }
}
